:root {
  --default-text: var(--black);
  --done: var(--red);
  --important: var(--green);
  --info-text: var(--dark-blue);
  --shadow: var(--steel);

  /* theme */
  --black: #000000;
  --red: #9b0e0e;
  --green: #008000;
  --dark-blue: #011f5e;
  --steel: #2247ac46;

  /* effects */
  --transition: 0.3s;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
}

.defaultItemStyle {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--default-text);
  cursor: pointer;
  transition: var(--transition);
}

.defaultItemStyle:focus {
  outline-width: thin;
  outline-style: dotted;
  outline-color: var(--steel);
}

.importantItemStyle {
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--important);
  cursor: pointer;
  transition: var(--transition);
}

.completedItemStyle {
  color: var(--done);
  text-decoration: line-through;
  cursor: pointer;
  transition: var(--transition);
}

.dateElement {
  color: var(--steel);
}
