.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 3rem 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
