.addItemForm {
  width: 98%;
}

.addItemLabel {
  width: 100%;
  margin: 2rem 0 0;
}

.button {
  width: 20%;
  height: 3rem;
  margin: 2rem 0 0 1rem;
}

.addItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}

@media (min-width: 320px) and (max-width: 500px) {
  .addItem {
    flex-direction: column;
    align-items: center;
  }

  .button {
    width: 100%;
    margin: 1rem 0;
  }
}
